<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title data-th-text="#{strategy.list.page.title}">Title</title>
	
	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-3.1.1.min.css" th:href="@{/resources/css/bootstrap-3.1.1.min.css}" />

	<title th:text="#{user.page.title}">Title</title>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>

<body>
	<h1 data-th-text="#{home.page.title}">Title</h1>
	<p>
	<a href="strategy/list.html">Strategy list</a><br/>
	</p>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/css" src="../../resources/js/jquery-1.11.0.min.js" th:href="@{/resources/js/jquery-1.11.0.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/css" src="../../resources/js/bootstrap-3.3.3.min.js"	th:href="@{/resources/js/bootstrap-3.3.3.min.js}"></script>
</body>
</html>
